.wrapper
  .banner
    .banner__title Bonus na prvi #[span depozit]
    .banner__row
      .banner__item
        .banner__item-top
          .back do 5.000 KN
          .border 663,61 EUR
        .banner__item-bottom 100% BONUSA NA PRVI DEPOZIT
      .banner__item
        .banner__item-top
          .back 200
        .banner__item-bottom besplatnih vrtnji
      .banner__item
        .banner__item-top
          .back 200 KN
          .border 26,54 EUR
        .banner__item-bottom risk-free bet
    .banner__image
      img(src='img/man.png' alt='man').man
      img(src='img/back-min.png' alt='man').min
      .banner__image-back





